    /* Layout principal con grid */
    .todo {
    display: grid;
    grid-template-columns: 300px 1fr; /* Sidebar fijo, contenido flexible */
    min-height: 100vh;
    background-color: black;
    overflow: hidden;
    }

    /* Contenido desplazado al lado derecho del sidebar */
    .contenido {
    grid-column: 2;
    background-color: #111;
    color: white;
    overflow-y: auto;
    height: 100vh;
    /* padding: 1rem; */
    /* margin-left: 220px; espacio para la barra fija */
    display: flex;
    flex-direction: column;
    }

    .divisor {
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    }

    /* Global */
    html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    }

    * {
    box-sizing: inherit;
    }

    main {
    padding-left: 0;
    }

    h1, h2 {
    color: white;
    margin: 0 0 5px 0;
    }

    h2 {
    margin-top: 3rem;
    font-size: 1.3rem;
    }

    hr {
    color: white;
    opacity: 0.3;
    width: 100%;
    margin: 0;
    padding: 0;
    }

    /* Responsive: ocultar sidebar en móvil */
    @media (max-width: 762px) {
    .todo {
        grid-template-columns: 1fr;
    }

    .barralateral {
        display: none;
    }

    .contenido {
        margin-left: 0;
        grid-column: 1 / -1;
        padding: 0rem;
    }
    }