

/* Centrar en pantalla */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(180deg, #1f1c2c, rgb(141, 2, 2));
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Formulario */
.login-form {
  
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: white;
}

/* Grupos */
.form-group {
  margin-bottom: 1.2rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: 600;
  color: white;
}

.form-group input {
  width: 90%;
  padding: 0.7rem;
  border: 1px solid white;
  border-radius: 8px;
  outline: none;
  transition: 0.2s ease;
}

.form-group input:focus {
  border-color: red;
  box-shadow: 0 0 0 2px rgba(27, 33, 65, 0.2);
}

.input-error {
  border-color: #e74c3c;
}

.error {
  color: #e74c3c;
  font-size: 0.85rem;
  margin-top: 0.3rem;
  display: block;
}

/* Botón */
.login-button {
  width: 100%;
  padding: 0.8rem;
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login-button:hover {
  background-color: rgb(102, 3, 3);
}

.login-button:disabled {
  background-color: black;
  cursor: not-allowed;
}

.forgot-link{
color: white;
}