.navbar {
  display: none; /* Oculto en escritorio */
}

@media (max-width: 768px) {
  .navbar {
    display: flex; /* Se muestra en móviles */
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    text-align: center;
    background: red;
    color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    text-decoration: none;
  }
  
  .Link {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
  }
}
