html, body, #root {
  height: 100%;
  background-color: #000;
  color: white; /* opcional: texto blanco */
  font-family: sans-serif;
  
}

main{
    padding-left: 0rem;
}

@media(max-width:762px){
  main{
    padding-left: 0rem;
}
}